<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Linear by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css" />
 	   <link rel="stylesheet" type="text/css" href="../static/content/site.css" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-panels.min.js"></script>
		<script src="../static/js/init.js"></script>
		<script type="text/javascript">
</script>
	
			<link rel="stylesheet" href="../static/css/skel-noscript.css" />
			<link rel="stylesheet" href="../static/css/style.css" />
			<link rel="stylesheet" href="../static/css/style-desktop.css" />
	</head>
	<body class="homepage">
	{% block content %}{% endblock %}
	</body>
</html>